node_modules/
dist/
out/
coverage/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*
*.db
*.db-*
*.sqlite
*.sqlite3
release/
tsconfig.web.tsbuildinfo
tsconfig.node.tsbuildinfo
package-mac-signed.sh
certificate.p12
